@model HomeAutomation.Models.ZWave.ListNodesModel

@{
    ViewData["Title"] = "ZWave";
}

<h2>ZWave Devices</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width: 15%;">ZWave ID</th>
            <th>Product Info</th>
            <th>Protocol Info</th>
            <th style="width: 17%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Nodes)
        {
            <tr data-device-id="@item.ID">
                <td>@item.ID</td>
                <td>@item.ManufacturerSpecific</td>
                <td>@item.ProtocolInfo</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdown-c-@item.ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Commands
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-c-@item.ID">
                            @foreach (var method in item.SupportedCommands)
                            {
                                <a class="dropdown-item" href="#" data-zwave-method="@method.CommandClass">@method.CommandClass (v@method.Version)</a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>